.type-20 .events {
  background-color: #f6f6f6;
}
.type-20 .events .gach {
  margin-top: 57px;
  height: 2px;
  display: flex;
  background-color: #d65679;
  width: 6.5%;
  float: left;
}
.type-20 .events .text {
  color: #1f1f1f;
  font-size: 17px;
  line-height: 54.4px;
  letter-spacing: 4px;
  padding: 31px 0 34px 90px;
  margin: 0;
  text-transform: uppercase;
  position: relative;
}
.type-20 .cot .table .truoc ul li a {
  text-decoration: none;
  color: #444444;
}
.type-20 .cot .table .truoc ul li {
  border: 1px solid #f6f6f6;
  list-style-type: none;
  padding: 25px 5px 25px 33px;
}
.type-20 .cot .table .truoc .posts {
  line-height: 16.8px;
  letter-spacing: 2px;
}
.type-20 .cot .table .sau ul li a {
  text-decoration: none;
  color: #444444;
}
.type-20 .cot .table .sau ul li {
  border: 1px solid #f6f6f6;
  list-style-type: none;
  margin: 0;
  padding: 25px 5px 25px 33px;
  border-bottom: 1px solid #eee;
}
.type-20 .cot .table .sau .posts {
  font-size: 14px;
  line-height: 16.8px;
  margin: 0;
  padding: 25px 5px 25px 33px;
  position: relative;
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
}
@media only screen and (max-width: 991px) {
  .type-20 .events .gach {
    margin-top: 31px;
    height: 2px;
    width: 9%;
    margin-left: 13px;
  }
  .type-20 .events .text {
    padding: 5px 0 5px 90px;
  }
}
