.type-8 {
  color: #444444;
  display: block;
  font-family: 'Varela', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.4px;
  overflow-x: hidden;
}
.type-8 .tz-video {
  position: relative;
  padding: 119px 0 155px;
  overflow: hidden;
}
.type-8 .tz-video:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  z-index: 10;
}
.type-8 .tz-video-content {
  text-align: center;
  z-index: 15;
  position: relative;
}
.type-8 .autoplay {
  background: #d65679;
  height: 85px;
  width: 85px;
  border: 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  display: inline-block;
}
.type-8 .autoplay i {
  font-size: 25px;
  line-height: 85px;
  color: #fff;
  text-align: center;
}
.type-8 .pause {
  background: #d65679;
  height: 85px;
  width: 85px;
  border: 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  display: none;
}
.type-8 .pause i {
  font-size: 25px;
  line-height: 85px;
  color: #fff;
}
.type-8 .tz-video-content h3 {
  font-family: 'Rouge Script', cursive;
  line-height: 92px;
  font-size: 84px;
  color: #fff;
  text-decoration: none;
  padding: 4px 0 0 0;
  text-align: center;
  margin: 0;
  font-weight: 300;
  letter-spacing: -0.4px;
}
.type-8 .tz-video-content p {
  line-height: 15.6px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.type-8 .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}
.type-8 .tz-video video {
  position: absolute;
}
.type-8 .videoID {
  position: absolute;
  width: auto;
  height: auto;
  max-height: 4000%;
  min-height: 100%;
  max-width: 1000%;
  min-width: 100%;
  left: 0;
  top: 50%;
  right: 0;
  overflow: hidden;
}
.type-8 .tz-video:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  z-index: 10;
}
