.type-12 .timeplate {
  margin-bottom: 95px;
  background: #f6f6f6;
  padding: 20px;
}
.type-12 .timeplate .title_ourstory {
  font-size: 17px;
  line-height: 54.4px;
  color: #212121;
  position: relative;
  margin-left: 100px;
}
.type-12 .timeplate .title-13::before {
  width: 80px;
  height: 2px;
  background: #d65679;
  position: absolute;
  content: '';
  margin-top: 45px;
}
.type-12 .blog-img {
  width: 100%;
}
.type-12 .blog-img img {
  width: 100%;
}
.type-12 .title-post a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.type-12 .blog_meta {
  color: gray;
}
.type-12 .blog_meta a {
  color: gray;
  text-decoration: none;
}
.type-12 .swiper-container {
  margin-top: 40px;
  width: 100%;
  height: 100%;
}
.type-12 .swiper-container .swiper-button-next,
.type-12 .swiper-container .swiper-button-prev {
  background: #fff;
  font-size: 3px;
  padding: 20px;
}
.type-12 .swiper-container .swiper-slide {
  text-align: center;
  height: 400px;
  background: #fff;
}
.type-12 .swiper-container .swiper-slide img {
  width: 100%;
  height: 100%;
}
.type-12 .type-video {
  color: #444444;
  display: block;
  font-family: 'Varela', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding: 0;
  letter-spacing: 0.4px;
  overflow-x: hidden;
}
.type-12 .type-video .tz-video {
  position: relative;
  padding: 119px 0 155px;
  overflow: hidden;
}
.type-12 .type-video .tz-video:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  z-index: 10;
}
.type-12 .type-video .tz-video-content {
  text-align: center;
  z-index: 15;
  position: relative;
}
.type-12 .type-video .autoplay {
  background: #d65679;
  height: 85px;
  width: 85px;
  border: 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  display: inline-block;
  outline: none;
}
.type-12 .type-video .autoplay i {
  font-size: 25px;
  line-height: 85px;
  color: #fff;
  text-align: center;
}
.type-12 .type-video .pause {
  position: absolute;
  background: #d65679;
  height: 85px;
  width: 85px;
  border: 0;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  margin-left: -85px;
  outline: none;
  visibility: hidden;
}
.type-12 .type-video .pause i {
  font-size: 25px;
  line-height: 85px;
  color: #fff;
}
.type-12 .type-video .tz-video-content h3 {
  font-family: 'Rouge Script', cursive;
  line-height: 92px;
  font-size: 84px;
  color: #fff;
  text-decoration: none;
  padding: 4px 0 0 0;
  text-align: center;
  margin: 0;
  font-weight: 300;
  letter-spacing: -0.4px;
}
.type-12 .type-video .tz-video-content p {
  line-height: 15.6px;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.type-12 .type-video .bg-video {
  background: url(../images/bk_video.jpg) no-repeat center center / cover transparent !important;
  display: block;
}
.type-12 .type-video .none-bg {
  display: none;
}
.type-12 .type-video .bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
}
.type-12 .type-video .tz-video video {
  position: absolute;
}
.type-12 .type-video .videoID {
  position: absolute;
  width: auto;
  height: auto;
  max-height: 4000%;
  min-height: 100%;
  max-width: 1000%;
  min-width: 100%;
  left: 0;
  top: 50%;
  right: 0;
  overflow: hidden;
}
.type-12 .type-video .tz-video:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  z-index: 10;
}
.type-12 .tzblog-format .tzautoplay {
  position: relative;
  z-index: 99;
  width: 60px;
  height: 60px;
}
.type-12 .tzquote {
  background: #d65679;
  padding: 45px 0 38px;
  text-align: center;
}
.type-12 .tzquote .quote_icon {
  font-size: 25px;
  line-height: 30px;
  color: #fff;
}
.type-12 .tzquote p {
  font-size: 27px;
  line-height: 32.2px;
  color: #fff;
  padding: 15px 5% 10px;
  margin: 0;
}
.type-12 .tzquote .author_quote {
  font-size: 11px;
  line-height: 13.2px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.type-12 .tzthe_content {
  margin-bottom: 30px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 50px;
}
.type-12 .tzthe_content p {
  margin: 0;
  line-height: 24px;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0.4px;
}
.type-12 .tzthe_content .more-link {
  text-decoration: none;
  color: #d65679;
}
.type-12 .music {
  width: 100px;
  height: 100px;
}
.type-12 .music img {
  width: 1177px;
  height: 124px;
}
