.type-5-cms {
  font-family: Montserrat, sans-serif;
}
.type-5-cms .name-img h3 {
  display: block;
  font-size: 17px;
  letter-spacing: 3px;
  line-height: 54.4px;
  margin: 0 0 28px;
  padding: 0 0 6px;
  position: relative;
  text-align: center;
  color: #212121;
}
.type-5-cms .name-img h3:after {
  background: none repeat scroll 0 0 #d65679;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -35px;
  position: absolute;
  width: 70px;
}
.type-5-cms .name-img .border {
  border-bottom: pink solid 2px;
  width: 100px;
  text-align: center;
}
.type-5-cms .info p {
  display: block;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 24px;
  margin: 0;
  padding: 30px 10px 50px;
  position: relative;
  text-align: center;
  color: #666666;
  background: #fff;
}
.type-5-cms .img-weeding {
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.type-5-cms img {
  height: 100%;
  width: 100%;
  margin-left: -20px;
  position: relative;
  overflow: hidden;
}
.type-5-cms .img {
  position: relative;
}
.type-5-cms .img-weeding:hover img {
  transform: scale(3) rotate(45deg);
  -moz-transform: scale(3) rotate(45deg);
  -webkit-transform: scale(3) rotate(45deg);
  -ms-transform: scale(3) rotate(45deg);
  -o-transform: scale(3) rotate(45deg);
  transition: all 20s ease 0s;
  -moz-transition: all 20s ease 0s;
  -webkit-transition: all 20s ease 0s;
  -ms-transition: all 20s ease 0s;
  -o-transition: all 20s ease 0s;
}
@media only screen and (max-width: 991px) {
  .type-5-cms .img-weeding {
    font-size: 50%;
    text-align: center;
  }
}
