.type-7 .jp-playlist .lists a {
  text-decoration: none;
  color: #202020;
  letter-spacing: 1.5px;
  font-size: 11px;
  line-height: 14.4px;
}
.type-7 .jp-playlist ul li.jp-playlist-current:after {
  position: absolute;
  right: 20px;
  top: 0;
  content: "\f028";
  font-family: 'FontAwesome';
  color: #444444;
  font-size: 14px;
  line-height: 55px;
}
.type-7 .jp-playlist ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border: 2px solid #f2f2f2;
}
.type-7 .jp-playlist ul li:first-child {
  border-top: 0;
}
.type-7 .jp-playlist ul li {
  position: relative;
  border-top: 2px solid #f2f2f2;
  padding: 12px 40px 12px 78px;
}
.type-7 .jp-playlist ul li:before {
  width: 55px;
  border-right: 2px solid #f2f2f2;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  content: "\f08a";
  font-family: 'FontAwesome';
  color: #cccccc;
  font-size: 17px;
  line-height: 55px;
  text-align: center;
  transition: all 0.3s linear 0s;
}
.type-7 .jp-playlist ul li.jp-playlist-current:before,
.type-7 .jp-playlist ul li:hover:before {
  border-right: 2px solid #d65679;
  color: #d65679;
}
.type-7 .nut button {
  padding: 0 5px;
  background: none;
  border: 0;
}
.type-7 .nut {
  display: inline-block;
}
.type-7 .jp-progress {
  width: 69%;
  display: inline-block;
  margin-bottom: 4px;
  margin-left: 47px;
}
.type-7 .jp-progress .jp-seek-bar {
  background: none repeat scroll 0 0 #606060;
}
.type-7 .jp-play-bar {
  height: 2px;
}
.type-7 .left .audio {
  border-color: #f2f2f2;
  border-style: solid;
  border-width: 2px 2px 2px;
  position: relative;
  padding: 15px 20px 11px 11px;
}
@media only screen and (max-width: 991px) {
  .type-7 .nut {
    display: inline-block;
  }
  .type-7 .jp-progress {
    width: 60%;
    display: inline-block;
    margin-bottom: 4px;
  }
}
@media only screen and (max-width: 1199px) {
  .type-7 .nut {
    display: inline-block;
  }
  .type-7 .jp-progress {
    width: 62%;
  }
  .type-7 .ex {
    width: 100%;
  }
  .type-7 .ax {
    width: 100%;
  }
}
.type-7 input[type=text],
.type-7 select,
.type-7 textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
.type-7 input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.type-7 .box {
  background: #d65679;
}
.type-7 .hop {
  float: right;
}
.type-7 .logo {
  float: left;
  margin-left: 33px;
}
.type-7 .button .check {
  border: 1px solid #fff;
  font-size: 12px;
  line-height: 34.4px;
  margin-top: 10px;
  background: rgba(0,0,0,0);
  padding: 4px 35px;
  text-transform: uppercase;
  transition: all 0.3s linear 0s;
}
.type-7 .button .check:hover {
  background: #fff;
  color: #666;
}
.type-7 .button {
  left: 69%;
  position: relative;
}
.type-7 .max span {
  letter-spacing: 3px;
  color: #fff;
  margin-left: 27px;
}
.type-7 .rox {
  padding: 17px 0px 9px 0px;
}
@media only screen and (max-width: 1199px) {
  .type-7 .max span {
    margin: 0;
  }
  .type-7 .box .rox .logo img {
    width: 87%;
  }
  .type-7 input[type=text],
  .type-7 select,
  .type-7 textarea {
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 10px 0px 10px 0px;
  }
  .type-7 .button {
    left: 78.5%;
    position: relative;
  }
  .type-7 .max span {
    width: 10;
    margin: 0px 97px 0px 140px;
  }
  .type-7 .rox {
    padding: 18px 0px 30px 0px;
  }
  .type-7 .box .rox .logo img {
    width: 100%;
  }
  .type-7 .button {
    left: 78.5%;
    position: relative;
  }
  .type-7 .rox {
    padding: 23px 0px 25px 0px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 991px) {
  .type-7 .max span {
    width: 10;
    margin: 0px 50px 0px 65px;
  }
  .type-7 .box .rox .logo img {
    width: 87%;
  }
  .type-7 input[type=text],
  .type-7 select,
  .type-7 textarea {
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin: 10px 0px 10px 0px;
  }
  .type-7 .button {
    left: 74.3%;
    position: relative;
  }
  .type-7 .rox {
    padding: 18px 0px 30px 0px;
  }
  .type-7 .box .rox .logo img {
    width: 100%;
  }
  .type-7 .rox {
    padding: 23px 0px 25px 0px;
  }
}
@media only screen and (max-width: 662px) {
  .type-7 .max span {
    margin: 0px 0px 0px 62px;
  }
}
@media only screen and (max-width: 576px) {
  .type-7 .box .rox .logo img {
    width: 85%;
  }
  .type-7 .max span {
    margin: 0;
  }
  .type-7 .button {
    left: 65.5%;
    position: relative;
  }
}
